/*
color themes -
#2b6777 - Dark Blue
#c8d8e4 - Light Blue
#ffffff - White
#f2f2f2 - Light Red
#52ab98 - Light Green
*/

/* Fonts */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,200&display=swap');
/* Playfair display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;1,200&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;900&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,400;1,200&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; 
*/